<div class="jumbotron text-center">
  <h1>Modifier un jour férié / RTT employeur</h1>
</div>
<div class="container">
  <div class="form-group">
      <label>Date :</label>
      
      <input type="date" class="form-control" id="startDate" name="startDate" value="{{absence.beginDate| date: 'yyyy-MM-dd'}}" #startDate>
    </div>

  <div class="form-group">
      <label>Type de jour:</label>
  
      <select class="form-control" #typeConge>
        <option value="CONGE_SANS_SOLDE" [selected]="absence.type== 'CONGE_SANS_SOLDE'">Congé sans solde</option>
        <option value="CONGE_PAYE" [selected]="absence.type=='CONGE_PAYE'">congé payé</option>
        <option value="RTT" [selected]="absence.type== 'RTT'" >RTT</option>
      </select>
    </div>
    <div class="form-group">
      <label for="email">Commentaire :</label>
      <textarea type="date" class="form-control" value="{{absence.motif}}" #motif></textarea>
    </div>
  
    <div class="alert alert-danger" role="alert" style="visibility:hidden" #alert></div>

  <input type="button" class="btn btn-danger" value="Annuler" (click) ="cancel()" />

  <input type="submit" class="btn btn-success" value="Valider" (click) ="validate(startDate,endDate,typeConge,motif,alert)" />

  <div class="alert alert-danger" role="alert" style="visibility:hidden" #alert></div>

</div>
