<div class="container">
 <div class="row">
    <div class="col-sm-8">
      <nav class="nav nav-pills nav-justified">
        <a class="nav-item nav-link active" href="#">Accueil</a>
        <a class="nav-item nav-link" href="#">Gestion des absences</a>
        <a class="nav-item nav-link" href="#">Planning des absences</a>
        <a class="nav-item nav-link" href="#">Jours feriés</a>
      </nav>
   </div>
   <div class="col-sm-4">
      <div>Bonjour
      <a class="nav-item nav-link" href="#">Se déconnecter</a>
    </div>
   </div>
</div><!-- row -->

  <h1>Gestion des absences</h1>

</div><!-- container -->