<div class="jumbotron text-center">
  <h1>Planning des absences</h1>
</div>
<!--
<ng-template #modalContent let-close="close">
  <div class="modal-header">
    <h5 class="modal-title">Event action occurred</h5>
    <button type="button" class="close" (click)="close()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <div>
      Action:
      <pre>{{ modalData?.action }}</pre>
    </div>
    <div>
      Event:
      <pre>{{ modalData?.event | json }}</pre>
    </div>
  </div>
</ng-template> -->
<div class="row text-center">
  <div class="col-md-4">
    <div class="btn-group">
      <div
        class="btn btn-primary"
        mwlCalendarPreviousView
        [view]="view"
        [(viewDate)]="viewDate"
        (viewDateChange)="activeDayIsOpen = false">
        Précédent
      </div>
      <div
        class="btn btn-outline-secondary"
        mwlCalendarToday
        [(viewDate)]="viewDate">
        Aujourd'hui
      </div>
      <div
        class="btn btn-primary"
        mwlCalendarNextView
        [view]="view"
        [(viewDate)]="viewDate"
        (viewDateChange)="activeDayIsOpen = false">
        Suivant
      </div>
    </div>
  </div>
  <!--  
  <div class="offset-md-4 col-md-4">
    <div class="btn-group">
      <div
        class="btn btn-primary"
        (click)="view = 'month'"
        [class.active]="view === 'month'">
        Mois
      </div>
      <div
        class="btn btn-primary"
        (click)="view = 'week'"
        [class.active]="view === 'week'">
        Semaine
      </div>
    </div>
  </div>-->
</div> 
<div class="text-center">
  <div class="row">
  <div class="row offset-md-4 col-md-4"> 
    <h3>{{ viewDate | calendarDate:(view+'ViewTitle'):'fr' }}</h3>
  </div>
  </div>
</div>
<div [ngSwitch]="view">
  <mwl-calendar-month-view
    *ngSwitchCase="'month'"
    locale="fr"
    [viewDate]="viewDate"
    [events]="events | async"
    [refresh]="refresh"
    [activeDayIsOpen]="activeDayIsOpen"
    (dayClicked)="dayClicked($event.day)"
    (eventTimesChanged)="eventTimesChanged($event)"
    weekStartsOn="1">
  </mwl-calendar-month-view>
  <!--
  <mwl-calendar-week-view
    *ngSwitchCase="'week'"
    locale="fr"
    [viewDate]="viewDate"
    [events]="events | async"
    [refresh]="refresh"
    (eventTimesChanged)="eventTimesChanged($event)"
    weekStartsOn="1">
  </mwl-calendar-week-view>
</div> -->