<div class="container">
    <div class="form-group">
        <div class="jumbotron text-center">
       
      <h1>Confirmez-vous la suppression ?</h1>
    </div>
      <ul>
        <li>
          <label>Date de début : {{absence.beginDate | date:'dd-MM-yyyy'}}</label>
        </li>
        <li>
          <label>Date de fin : {{absence.endDate | date:'dd-MM-yyyy'}}</label>
        </li>
        <li>
          <label>Type de congés : {{absence.type | minuscule}}</label> 
        </li>      
      </ul>
    </div>

    
  
  
  
    <input type="button" class="btn btn-danger" value="Annuler" (click) ="cancel()" />
  
    <input type="submit" class="btn btn-success" value="Valider" (click) ="delete(absence)" />
  
    <div class="alert alert-danger" role="alert" style="visibility:hidden" #alert></div>
  
  </div>
  {{absences|json}}