<div class="container">
    <div class="form-group">
      <label>Confirmez-vous la suppression de la demande suivante ?</label>
      <ul>
        <li>
          <p>Date de début : </p>
        </li>
        <li>
          <p>Date de fin :</p>
        </li>
        <li>
          <p>Type de congés :</p>
        </li>      
      </ul>
    </div>
  
  
  
    <input type="button" class="btn btn-danger" value="Annuler" (click) ="cancel()" />
  
    <input type="submit" class="btn btn-success" value="Valider" (click) ="validate(startDate,endDate,typeConge,motif,alert)" />
  
    <div class="alert alert-danger" role="alert" style="visibility:hidden" #alert></div>
  
  </div>