<div class="jumbotron text-center">
	<h1>Demande d'absence</h1>
</div>

<div class="container">
	<div class="form-group">
		<label>Date de début :</label>
		<input type="date" class="form-control" id="startDate" name="startDate" #startDate>
	</div>

	<div class="form-group">
		<label>Date de fin :</label>
		<input type="date" class="form-control" id="endDate" name="endDate"	 #endDate>
	</div>
	<div class="form-group">
		<label>Type de congé :</label>

		<select class="form-control" #typeConge>
			<option value="CONGE_SANS_SOLDE">Congé sans solde</option>
			<option value="CONGE_PAYE">congé payé</option>
			<option value="RTT" >RTT</option>
		</select>
	</div>
	<div class="form-group">
		<label for="email">Motif :</label>
		<textarea type="date" class="form-control" id="startDate"	name="startDate" #motif></textarea>
	</div>

	<div class="alert alert-danger" role="alert" style="visibility:hidden" #alert></div>

	<input type="button" class="btn btn-danger" value="Annuler" (click) ="cancel()" />

	<input type="submit" class="btn btn-success" value="Valider" (click) ="validate(startDate,endDate,typeConge,motif,alert)" />

</div>