<div class="jumbotron text-center">
	<h1>Demande d'absence</h1>
</div>

<div class="container-fluid">

  <div class="col-md-8 offset-md-2 col-lg-6 offset-lg-3">
  	<div class="form-group">
  		<label>Date de début :</label>
      <div class="input-group">
    		<input type="date" class="form-control" id="startDate" name="startDate" #startDate>
        <span class="input-group-addon" id="startDate">
          <i class="fa fa-calendar" aria-hidden="true"></i>
          <img src="/assets/images/icon.png" width="30" height="30" class="d-inline-block align-top" alt="">
        </span>
      </div>
  	</div>

  	<div class="form-group">
  		<label>Date de fin :</label>
      <div class="input-group">
    		<input type="date" class="form-control" id="endDate" name="endDate"	 #endDate>
        <span class="input-group-addon" id="endDate">
          <i class="fa fa-calendar" aria-hidden="true"></i>
          <img src="/assets/images/icon.png" width="30" height="30" class="d-inline-block align-top" alt="">
        </span>
      </div>
  	</div>

  	<div class="form-group">
  		<label>Type de congé :</label>

  		<select class="form-control" #typeConge>
  			<option value="CONGE_SANS_SOLDE">Congé sans solde</option>
  			<option value="CONGE_PAYE">congé payé</option>
  			<option value="RTT" >RTT</option>
  		</select>
  	</div>
  	<div class="form-group">
  		<label for="email">Motif :</label>
  		<textarea type="date" class="form-control" id="startDate"	name="startDate" #motif></textarea>
  	</div>

      <input type="button" class="btn btn-danger col-4" value="Annuler" (click) ="cancel()" />

    	<input type="submit" class="btn btn-success float-right col-4" value="Valider" (click) ="validate(startDate,endDate,typeConge,motif,alert)" />

  	<div class="alert alert-danger" role="alert" style="visibility:hidden" #alert></div>

  </div>
</div>
