<div class="jumbotron text-center">
    <h1>Nouveau jour ferié / RTT employeur </h1>
  </div>
  
  <div class="container">
    <div class="form-group">
      <label>Date :</label>
      <input type="date" class="form-control" min="{{currentDay}}" #dateDay>
    </div>
  
    <div class="form-group">
      <label>Type de jour :</label>
  
      <select class="form-control" #typeDay>
        <option value="JF">Jour ferié</option>
        <option value="RTT" >RTT</option>
      </select>
    </div>
    <div class="form-group">
      <label for="email">Commentaires</label>
      <input type="text" class="form-control" #commentaire>
    </div>
  
    <input type="button" class="btn btn-danger" value="Annuler"  (click) ="cancel()" />
  
    <input type="submit" class="btn btn-success" value="Valider" (click) ="validate(dateDay)" />
  
    <div class="alert alert-danger" role="alert" style="visibility:hidden" #alert></div>
  
  </div>