
<div class="jumbotron text-center">
  <h1>Validation des demandes</h1>
</div>

<table class="table table-bordered table-stripped">
  <thead>
    <tr>
      <th scope="col">Date de début</th>
      <th scope="col">Date de fin</th>
      <th scope="col">Type</th>
      <th scope="col">Nom</th>
      <th scope="col">Actions</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let abs of absences">
        <td  class="align-middle">
            <h6>{{abs.beginDate}}</h6>
        </td>
        <td class="align-middle">
            <h6>{{abs.endDate}}</h6>
        </td>
        <td class="align-middle">
            <h6>{{abs.type | minuscule}}</h6>
        </td>
        <td class="align-middle">
            <!-- changer id par nom -->
            <h6>{{abs.id}}</h6>
        </td>
        <td>
            <button class="btn btn-outline-success align-middle" (click)="valid(abs)"><i class="fa fa-check" aria-hidden="true"></i></button>
            <button class="btn btn-outline-danger align-middle" (click)="reject(abs)"><i class="fa fa-times" aria-hidden="true"></i></button>
        </td>
    </tr>
  </tbody>
</table>
