<div class="container">
  <div class="form-group">
      <div class="jumbotron text-center">
     
    <h1>Confirmez-vous la suppression de la RTT employeur suivante ?</h1>
  </div>
    <ul>
      <li>
        <label> Date : {{ferie.date| date :"dd-MM-yy"}}</label>
      </li>     
    </ul>
  </div> 

  



  <input type="button" class="btn btn-danger" value="Annuler" (click) ="cancel()" />

  <input type="submit" class="btn btn-success" value="Valider" (click) ="delete(ferie)" />
  <div class="alert alert-danger" role="alert" style="visibility:hidden" #alert></div>

</div>

