<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="#">LOGO</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
    <div class="navbar-nav">
      <a routerLink="/accueil" RouterLinkActive="active" class="nav-item nav-link">Accueil</a>
      <a routerLink="/gestionAbs" RouterLinkActive="active" class="nav-item nav-link" href="#">Gestion des absences</a>
      <a routerLink="/planningAbs" RouterLinkActive="active" class="nav-item nav-link">Planning des absences</a>
      <a routerLink="/validDmdes" RouterLinkActive="active" class="nav-item nav-link">Validation demandes</a>
      <a routerLink="/vuesSynth" RouterLinkActive="active" class="nav-item nav-link">Vues synthétiques</a>
      <a routerLink="/joursFeries" RouterLinkActive="active" class="nav-item nav-link">Jours fériés</a>
    </div>
  </div>
</nav>